@use "../utilities/" as *;

.accordions-container {
  .accordion + .accordion {
    margin-top: $spc-large;
  }

  .accordion {
    padding: 0 $spc-small;
    border: 0.05rem solid $grey-200;

    @media screen and (min-width: $tablet-min-width) {
      padding: $spc-small $spc-large;
    }

    input[type='checkbox'] {
      display: none;

      &:checked {
        & + label {
          color: $sosy-green;

          &::after {
            transform: rotate(45deg);
          }
        }

        & ~ .content {
          max-height: 100vh;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    label {
      transition: color 0.3s $fade-cubic-bezier;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &::after {
        content: url('/assets/icons/plus.svg');
        display: inline-block;
        padding-left: 8px;
        transition: transform 0.3s $fade-cubic-bezier;
        transform-origin: center;
      }
    }

    .content {
      transition: all 0.3s $fade-cubic-bezier;
      max-height: 0;
      opacity: 0;
      visibility: hidden;

      a {
        color: $text-color;
        font-weight: $fw-bold;
      }
    }
  }
}
