@use "../utilities/" as *;

.newsletter-cta-container {
  background-color: $cyber;
  background-repeat: no-repeat;
  background-position: left, right;
  background-image: url('../../../assets/images/newsletter-cta-background-left.svg');
  background-position: left;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: $tablet-min-width) {
    background-image: url('../../../assets/images/newsletter-cta-background-left.svg'),
      url('../../../assets/images/newsletter-cta-background-right.svg');
    background-position: 0% 0%, 100% 270%;
  }

  .content-wrapper {
    position: relative;

    & > * {
      max-width: unset;
    }

    .b-regular {
      margin-bottom: $spc-medium;
    }
  }
}
