# TO USE
# Rename file from .env.example to .env.local and fill in the following values:

# Sanity (Our CMS system)
NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET=""
NEXT_PUBLIC_SANITY_READ_TOKEN=""

# For events page
NEXT_PUBLIC_GOOGLE_CALENDAR_API_KEY=""