#img {

	background-image: url("https://i.imgur.com/CxOmmLK.jpg");
  height: 700px;
    background-repeat:no-repeat;
  background-size:100%;
  background-position:center center;


}



/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: forestgreen;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }*/


/* Style the header links */
.header a {
 text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: Noto sans, sans-serif;
	padding: 10px;
  margin-right: 10px;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .body {
  padding-top: 102px;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.title{
  margin-left: 150px;
  font-family: Helvetica, sans-serif;
  color: forestgreen;
}

.content
{
  color: black;
  font-size: 17px;
  font-family: Helvetica, sans-serif;
  width: 80%;
  margin: 0 auto;
  
}


.responsive {
  width: 100%;
  height: auto;
}

.widgets
{
  width: 80%;
  margin: 0 auto;
}

.discord
{
  float: left;
  width: 50%;
}

.twitter-timeline
{
  float: left;
  width: 50%;
}


/*.fa:hover {
    opacity: 0.7;
}
*/
.fa-facebook {
  /*background: #3B5998;*/
  color: #3b5998;
}

.fa-instagram { 
  color: #c32aa3;
/*  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }*/


/*clear both makes sure the footer is placed below the next element.*/
.footer {
    clear: both;
    position: relative;
    color: black;
  width: 100%;
   background-color: white;
  text-align: center;
  /*border:1px solid black;*/

}

/*form page*/

.form_h{
  text-align: center;
  padding-right: 450px;
  font-size: 35px;
  color: black;
  font-family: Noto sans, sans-serif;

}
.form{
  text-align: center;
}

.map{
  text-align: center;
}

.email_title{
  font-size: 30px;
  font-family: Noto sans, sans-serif;
  color: forestgreen;
}

.email{
  padding-top: 75px;
  text-align: center;
  font-size: 20px;
  font-family: Noto sans, sans-serif;
}

.clearfix{
    clear:both
}



/*about page*/


.group{
  background-image: url("https://i.imgur.com/8MZuELD.jpg");
  height: 700px;
  background-repeat:no-repeat;
background-size:100%;
background-position:center center;
  
  
}

.meet_h{
   margin-left: 150px;
  font-family: Helvetica, sans-serif;
  color: forestgreen;
}

.column{
  display: inline-block;
  font-family: Helvetica, sans-serif;
  /*margin: 0 auto;*/
  }


ul{
  max-width: 300px;
  display: inline-block;
}








