@use "../variables.scss";

.about-page {
  main.container {
    padding-bottom: 0;
  }

  .current-exec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 5rem auto;
    width: 100%;
    gap: 1.5em;
  }

  h1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .past-execs {
    margin: 3rem 0 5rem;
    width: 100%;

    h2 {
      padding-bottom: 1.5rem;
    }
  }
}
