@import "../variables.scss";

.about-page {
  .current-exec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 5rem auto;
    width: 100%;
    gap: 1.5em;
  }

  h1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
