@import "../variables.scss";

.blog-page {
  background-color: var(--colour-neutral-1200);

  .container {
    padding: 32px;

    .category-title {
      margin-bottom: 12px;
    }
    .posts-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 16px;

      .post {
        border-radius: 12px;
        display: flex;
        align-items: stretch;
        // background-color: rgb(10, 10, 10);
        background-color: var(--colour-neutral-1100); // less contrast version

        .thumbnail {
          border-radius: 12px 12px 0 0;
          position: relative;

          img {
            display: block;
            border-radius: 12px 12px 0 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
        .text {
          padding: 16px;

          .title {
            font-size: 1.2em;
            margin-bottom: 12px;
          }

          .meta-info {
            display: flex;
            flex-direction: row;
            gap: 4px;
            align-items: center;
            font-size: 0.7em;
          }
          .summary {
            margin-top: 8px;
            font-size: 14px;
            line-height: 1.4;
          }
        }

        &:hover {
          cursor: pointer;
          opacity: 0.75;
        }
      }
    }

    .featured {
      .post {
        position: relative;
        padding: 20px;
        background-color: rgb(10, 10, 10);

        .thumbnail {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          display: flex;
          flex-direction: row;
          width: 70%;
          height: 100%;

          img {
            border-radius: 0 12px 12px 0;
          }
          .overlay {
            border-radius: 0 12px 12px 0;
            background: linear-gradient(
              40deg,
              rgba(10, 10, 10, 1) 43%,
              rgba(10, 9, 0, 0.94) 53%,
              rgba(10, 9, 0, 0.78) 67%,
              rgba(10, 9, 0, 0.5982847003154574) 74%,
              rgba(10, 9, 0, 0) 100%
            );
          }
        }
        .text {
          z-index: 1;
          .title {
            font-size: 1.6em;
          }
        }
      }
    }

    .col-1 {
      flex-direction: column;

      .post {
        width: 100%;
        flex-direction: row;

        .thumbnail {
          flex: 1;
          display: flex;
          align-items: stretch;

          img {
            object-fit: cover;
            -o-object-fit: cover;
            border-radius: 12px 0 0 12px;
          }
          .overlay {
            // background: linear-gradient(-90deg, rgb(10, 10, 10) 5%, transparent 100%);
            background: linear-gradient(
              -90deg,
              var(--colour-neutral-1100) 5%,
              transparent 100%
            ); // less contrast version
          }
        }

        .text {
          flex: 3;
        }
      }
    }
    .col-3 {
      flex-direction: row;

      .post {
        flex-direction: column;
        width: calc((100% - 32px) / 3);

        .thumbnail img {
          aspect-ratio: 2/1;
        }
        .overlay {
          //   background: linear-gradient(0, rgb(10, 10, 10) 5%, transparent 100%);
          background: linear-gradient(
            0,
            var(--colour-neutral-1100) 5%,
            transparent 100%
          ); // less contrast version
        }
      }
    }

    // button
    .see-more {
      margin-top: 16px;
      text-align: right;
      button {
        border: none;
        background-color: transparent;

        &:hover {
          cursor: pointer;
          opacity: 0.75;
        }
      }
    }
    @include viewport(tablet-desktop) {
      padding: 32px 64px;
    }
  }

  h2,
  p {
    color: var(--colour-neutral-000);
  }

  .hero {
    margin-bottom: 32px;
    position: relative;
    max-width: unset;
    text-align: center;
    background: linear-gradient(180deg, #141515 0%, rgba(20, 21, 21, 0.75) 100%),
      url("../../public/images/blog-page/hero-blog.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 6rem;
    overflow: hidden;
    padding-bottom: 6rem;

    h1,
    p {
      color: var(--colour-neutral-000);
    }

    p {
      font-weight: 500;
    }
  }
  .footer {
    margin-top: 64px;
  }
}
