@import "../variables.scss";

.blog-page {
  background-color: var(--colour-neutral-1200);

  h2,
  p {
    color: var(--colour-neutral-000);
  }

  .hero {
    position: relative;
    max-width: unset;
    text-align: center;
    background: linear-gradient(180deg, #141515 0%, rgba(20, 21, 21, 0.75) 100%),
      url("../../public/images/blog-page/hero-blog.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 6rem;
    overflow: hidden;
    padding-bottom: 6rem;

    h1,
    p {
      color: var(--colour-neutral-000);
    }

    p {
      font-weight: 500;
    }
  }
}
