@import "../variables.scss";

.requirements-section {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.requirements-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 0;
  flex: 0 0 50%;
}

.full-width {
  flex: 0 0 100%;
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75em;
  margin: 1.25em;
}

.course-node {
  text-align: center;
}

.sidebar-course {
  position: fixed;
  flex: 0 0 60%;
  right: 2em;
  top: 6em;
  width: 50%;
  max-height: 75vh;
  overflow-x: hidden; /* Prevent horizontal overflow */
  overflow-y: scroll;
  flex-wrap: nowrap;
  line-height: 1.25em;
  background: var(--colour-neutral-1100) 100%;
  padding: 1.5rem;
  border-radius: 0.75rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2em;

  .space-between {
    display: flex;
    justify-content: space-between;

    .close-sidebar {
      text-align: center;
      padding: 0.5em 0.2em;
      border: 1px solid var(--colour-neutral-100);
      border-radius: 8rem;
      min-width: 8rem;
      font-size: 0.875rem;
      transition: all $transition-speed-fast $easing-bounce;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
        transform: translateY(-0.1rem);
      }

      &:active {
        transform: scale(0.99);
      }

      &.secondary {
        background-color: var(--colour-neutral-1000);
      }
    }
  }
  .course-info {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    .sections-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5em;
      width: 100%;

      .section-unit {
        width: fit-content;
        flex: 1;
        line-height: 1.25em;
        border: 1px solid var(--colour-neutral-800);
        padding: 0.75em;
        border-radius: 0.75rem;
        height: fit-content;

        .schedule-list {
          .schedule-unit {
            margin-left: 1em;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
