@import "../variables.scss";

.get-involved-page {
  background-color: var(--colour-neutral-1200);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .container {
    margin: 0 auto;
    width: 100%;
  }

  .footer {
    margin-top: auto;
  }

  li {
    list-style: none;
  }

  main {
    button {
      border: none;
      background-color: transparent;
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .active-button {
    color: var(--colour-sosy-green-500);
  }

  .selected-role-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--colour-neutral-1100);
    padding: 2rem;
    border-radius: 20px;
  }

  .roles-and-selected-role-desktop {
    display: none;
  }

  #roles-section {
    display: none;
  }

  .roles-and-selected-role-mobile {
    padding-top: 1rem;
  }

  @include viewport(desktop) {
    .roles-and-selected-role-mobile {
      display: none;
    }

    .roles-and-selected-role-desktop {
      display: grid;
      width: 100%;
      grid-template-columns: auto 3fr;
      grid-template-areas: "roles selected-role";
      gap: 2rem;
      padding-top: 3rem;

      #roles-section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        grid-area: roles;

        button {
          cursor: pointer;
          font-size: 1rem;
          padding: 0.3rem;
        }

        li {
          display: flex;
          gap: 0.5rem;
          align-items: center;
        }
      }
    }
  }

  .selected-bar {
    height: 100%;
    width: 5px;
    background-color: var(--colour-sosy-green-500);
    border-radius: 4px;
    scale: 1 0;
    transition: scale 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .show-bar {
    scale: 1;
  }

  #selected-role-section {
    grid-area: selected-role;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--colour-neutral-1100);
    border-radius: 0.75rem;
    padding: 1.75rem;
  }

  .role-description-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .role-description {
    list-style-image: url("../../public/icons/list-style-check.svg");
    margin-left: 1.2rem;
  }
}
