@import '../variables.scss';

@keyframes pop-up {
  0% {
    transform: translateY(100%);
  }

  8% {
    transform: translateY(1rem);
  }

  13% {
    transform: translateY(0rem);
  }

  25% {
    transform: translateY(2rem);
  }
  

  75% {
    transform: translateY(2rem);
  }

  85% {
    transform: translateY(0rem);
  }

  95% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(95%);
  }
}

.landing-page {
  background-color: var(--colour-neutral-1200);
  
  h2, p {
    color: var(--colour-neutral-000);
  }
  
  .container {
    padding: clamp(1rem, 4vw, 6rem);
  }

  .hero {
    position: relative;
    text-align: center;
    background: linear-gradient(180deg, #141515 0%, rgba(20, 21, 21, 0.75) 100%), url('../../public/images/landing-page-hero.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 12rem;
    overflow: hidden;
    
    h1, p {
      color: var(--colour-neutral-000);
    }

    p {
      font-weight: 500;
    }

    img {
      transform: translateY(100%);
      margin: auto;
      width: 20rem;
      bottom: -10%;
      margin-top: 3rem;
      left: 50%;
      animation: pop-up 10s $easing-bounce infinite 0.5s;
    }
  }

  .discover-ssss {
    padding-top: 2rem;
    padding-bottom: 2rem;

    h3, p {
      color: var(--colour-neutral-000);
    }

    h3 {
      font-size: 1.5rem;
    }

    p {
      font-weight: 500;
      margin-top: 0.25rem;
    }

    header {
      margin-bottom: 1rem;

      button {
        margin-top: 1rem;
      }
    }

    .discover-ssss__main-link-item, .discover-ssss__link-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 14rem;
      border-radius: $border-radius;
      padding: 1rem;
      background: linear-gradient(180deg, rgba(20, 21, 21, 0) 0%, #141515 100%), url('../../public/images/landing-page/discover-ssss-main.png');
      background-size: cover;
      background-position: center;
    }
  
    .discover-ssss__link-items {
      & > * + * {
        margin-top: 2rem;
      }

      .discover-ssss__link-item:nth-child(1) {
        background: linear-gradient(180deg, rgba(20, 21, 21, 0) 0%, #141515 100%), url('../../public/images/landing-page/discover-ssss-events.png');
        background-size: cover;
        background-position: center;
      }
      .discover-ssss__link-item:nth-child(2) {
        background: linear-gradient(180deg, rgba(20, 21, 21, 0) 0%, #141515 100%), url('../../public/images/landing-page/discover-ssss-get-involved.png');
        background-size: cover;
        background-position: center;
      }
      .discover-ssss__link-item:nth-child(3) {
        background: linear-gradient(180deg, rgba(20, 21, 21, 0) 0%, #141515 100%), url('../../public/images/landing-page/discover-ssss-about-us.png');
        background-size: cover;
        background-position: center;
      }
    }
  }
}
