@import '../variables.scss';

@keyframes pop-up {
  0% {
    transform: translateY(100%);
  }

  8% {
    transform: translateY(1rem);
  }

  13% {
    transform: translateY(0rem);
  }

  25% {
    transform: translateY(2rem);
  }
  

  75% {
    transform: translateY(2rem);
  }

  85% {
    transform: translateY(0rem);
  }

  95% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(95%);
  }
}

.landing-page {
  background-color: var(--colour-neutral-1200);
  
  h2, p {
    color: var(--colour-neutral-000);
  }

  .hero {
    position: relative;
    max-width: unset;
    text-align: center;
    background: linear-gradient(180deg, #141515 0%, rgba(20, 21, 21, 0.75) 100%), url('../../public/images/landing-page-hero.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 12rem;
    overflow: hidden;
    padding-bottom: 0;
    
    h1, p {
      color: var(--colour-neutral-000);
    }

    p {
      font-weight: 500;
    }

    img {
      transform: translateY(100%);
      margin: auto;
      width: 20rem;
      bottom: -10%;
      margin-top: 3rem;
      left: 50%;
      animation: pop-up 10s $easing-bounce infinite 0.5s;
    }
  }

  .discover-ssss {
    padding-top: 4rem;
    padding-bottom: 1rem;

    h3, p {
      color: var(--colour-neutral-000);
    }

    h3 {
      font-size: 1.5rem;
    }

    p {
      font-weight: 500;
      margin-top: 0.25rem;
    }

    header {
      margin-bottom: 1rem;

      button {
        margin-top: 1rem;
      }
    }

    .discover-ssss__main-link-item, .discover-ssss__link-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 14rem;
      border-radius: $border-radius;
      padding: 1rem;
      background: linear-gradient(180deg, rgba(20, 21, 21, 0) 0%, #141515 100%), url('../../public/images/landing-page/discover-ssss-main.png');
      background-size: cover;
      background-position: center;
      cursor: pointer;
    }
  
    .discover-ssss__link-items {
      margin-top: 2rem;

      & > * + * {
        margin-top: 2rem;
      }

      .discover-ssss__link-item:nth-child(1) {
        background: linear-gradient(180deg, rgba(20, 21, 21, 0) 0%, #141515 100%), url('../../public/images/landing-page/discover-ssss-events.png');
        background-size: cover;
        background-position: center;
      }
      .discover-ssss__link-item:nth-child(2) {
        background: linear-gradient(180deg, rgba(20, 21, 21, 0) 0%, #141515 100%), url('../../public/images/landing-page/discover-ssss-get-involved.png');
        background-size: cover;
        background-position: center;
      }
      .discover-ssss__link-item:nth-child(3) {
        background: linear-gradient(180deg, rgba(20, 21, 21, 0) 0%, #141515 100%), url('../../public/images/landing-page/discover-ssss-about-us.png');
        background-size: cover;
        background-position: center;
      }
    }

    @include viewport(tablet-desktop) {
      display: grid;
      grid-template-areas: 
        "header header"
        "main items";
      gap: 1rem;
      grid-template-columns: 1fr 50%;

      header {
        grid-area: header;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;

        button {
          margin-top: 0;
        }
      }

      .discover-ssss__main-link-item {
        grid-area: main;
        height: 100%;
        padding: 2rem;
      }

      .discover-ssss__link-items {
        grid-area: items;
        margin-top: 0;

        & > .discover-ssss__link-item:nth-child(1), 
        & > .discover-ssss__link-item:nth-child(2), 
        & > .discover-ssss__link-item:nth-child(3) {
          height: 8rem;
          justify-content: center;
          overflow: hidden;
          position: relative;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          margin: 0 0 1rem 0;
          background: var(--colour-neutral-1100);
  
          &::before {
            content: '';
            background-size: cover;
            background-position: center;
            display: block;
            clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
            position: absolute;
            right: 0;
            width: 50%;
            height: 100%;
          }
        }
        
        .discover-ssss__link-item:nth-child(1)::before {
          background-image: url('../../public/images/landing-page/discover-ssss-events.png');
        }

        .discover-ssss__link-item:nth-child(2)::before {
          background-image: url('../../public/images/landing-page/discover-ssss-get-involved.png');
        }

        .discover-ssss__link-item:nth-child(3)::before {
          background-image: url('../../public/images/landing-page/discover-ssss-about-us.png');
        }
      }
    }
  }

  .discord-banner {
    @include viewport(tablet-desktop) {
      padding-top: 0;
    }

    .banner {
      border-radius: $border-radius;
      background-color: var(--colour-neutral-1100);
      padding: 2.5rem 2rem;

      img {
        margin-bottom: 2.5rem;
        max-width: 100%;
      }

      .status-tags {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .status-tag {
          width: fit-content;
          font-weight: 400;
          color: var(--colour-neutral-000);
          background-color: var(--colour-neutral-1000);
          padding: 1rem;
          border-radius: 25rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;

          &::before {
            content: '';
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: var(--colour-sosy-green-500);
            display: block;
          }
        }

        .status-tag:nth-child(2)::before {
          background-color: var(--colour-neutral-500);
        }
      }

      p {
        margin-bottom: 1.5rem;
        max-width: 28rem;
      }

      button {
        background-color: var(--colour-neutral-000);
        color: var(--colour-neutral-1200);
      }

      @include viewport(tablet-desktop) {
        padding: 6rem;
        background: linear-gradient(95.56deg, #181B1A 37.95%, rgba(24, 27, 26, 0.16) 104.54%), url('../../public/images/landing-page/discord-screenshot.png');
        background-position: center left;
      }
    }
  }
}
