@use "../variables.scss";

.resources-page {
  .hero {
    position: relative;
    max-width: unset;
    text-align: center;
    background:
      linear-gradient(
        180deg,
        var(--colour-image-overlay) 0%,
        color-mix(in srgb, var(--colour-image-overlay) 75%, transparent) 100%
      ),
      url("../../public/images/resources-page/hero-laptop.jpeg");
    background-position: center;
    background-size: cover;
    padding-top: 6rem;
    overflow: hidden;
    padding-bottom: 6rem;

    h1,
    p {
      color: var(--colour-on-image);
    }
  }

  ul.resources-links {
    li + li {
      margin-top: 0.5rem;
    }

    li {
      margin-left: 2em;
      color: var(--colour-sosy-green-500);
      font-size: 1.25em;
    }
  }
}
