@import "../variables.scss";

.resources-page {
  .hero {
    position: relative;
    max-width: unset;
    text-align: center;
    background: linear-gradient(180deg, #141515 0%, rgba(20, 21, 21, 0.75) 100%),
      url("../../public/images/resources-page/hero-laptop.jpeg");
    background-position: center;
    background-size: cover;
    padding-top: 6rem;
    overflow: hidden;
    padding-bottom: 6rem;
  }

  ul.resources-links {
    li + li {
      margin-top: 0.5rem;
    }

    li {
      margin-left: 2em;
      color: var(--colour-sosy-green-500);
      font-size: 1.25em;
    }
  }
}
