.menu { 

    background-color: white;
    padding-bottom: 10px !important;

    .menu-nav > a {
        color: grey;
        padding: 8px;
    }

    h4 { 
        margin: 0 !important;
    }

}
