// This project was created using mobile-first styling
// So, only minimum widths are used (however these can be used
// for the occasional maximum width if needed)
// 1500px is the site width limit for inner content
$tablet-min-width: 768px;
$desktop-min-width: 1000px;
$width-limit: 1500px;
