// Spacer values for use when needing to add space between something
$spc-xsmall: 0.5rem;
$spc-small: 1.5rem;
$spc-medium: 2rem;
$spc-large: 3rem;
$spc-xlarge: 5rem;

// Specific spacer values for the sides of wrappers
$gutter-mobile: 24px;
$gutter-tablet: 64px;
$gutter-desktop: 128px;
$gutter-width-limit: 0px;
