// This is the main.scss that compiles into main.css.
@use "utilities/" as *;

@use "components/main-nav";
@use "components/title-section";
@use "components/header-image-section";
@use "components/discord-cta";
@use "components/newsletter-cta";
@use "components/footer";
@use "components/avatars";
@use "components/accordion";

@use "layouts/wrappers";

:root {
  font-family: $font-stack;
  color: $text-color;
  font-size: 18px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}
