@use "../utilities/" as *;

.avatars-container {
  .content-wrapper {
    display: grid;
    gap: $spc-medium;

    .avatar-tile {
      display: grid;
      gap: $spc-xsmall;

      img {
        max-width: 7rem;
        aspect-ratio: 1/1;
      }
    }

    @media screen and (min-width: $tablet-min-width) {
      grid-template-columns: repeat(3, 1fr);

      .avatar-tile {
        justify-items: center;
        position: relative;
        gap: $spc-small;

        img {
          max-width: 100%;
        }

        .title {
          text-align: center;
        }

        .description {
          display: flex;
          align-items: flex-start;
          background-color: $grey-50;
          padding: $spc-small;
          position: absolute;
          inset: 0;
          opacity: 0;
          visibility: hidden;
          cursor: help;
          transition: opacity 0.5s $fade-cubic-bezier;
          overflow-y: auto;

          p {
            margin-bottom: 0;
          }

          &::-webkit-scrollbar {
            width: 0.35rem;
          }

          &::-webkit-scrollbar-track {
            background: $grey-50;
          }

          &::-webkit-scrollbar-thumb {
            background: $grey-400;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: $grey-600;
          }
        }

        &:hover {
          .description {
            opacity: 1;
            visibility: visible;

            p {
              animation: fade-up 0.5s $fade-cubic-bezier forwards;
              animation-delay: 0.1s;
              opacity: 0;
            }
          }
        }
      }
    }

    @media screen and (min-width: $desktop-min-width) {
      .avatar-tile .description {
        align-items: center;
      }
    }
  }
}
