@use "../utilities/" as *;

.discord-cta-container {
  display: grid;
  gap: $spc-large;
  max-width: $width-limit;
  margin: auto;
  align-items: center;

  .content-wrapper {
    margin: 0;

    .b-regular {
      margin-bottom: $spc-medium;
    }
  }

  .image {
    height: clamp(16em, 36vmin, 48em);
    width: 100%;
    background-image: url('../../../assets/images/ssss-on-discord-icon.svg'),
      linear-gradient($blurple, $blurple);
    background-repeat: no-repeat;
    background-position: center;
    background-size: clamp(8em, 75%, 28em), 100%;
  }

  @media screen and (min-width: $tablet-min-width) {
    grid-template-columns: 1fr 1fr;
  }
}
