@import '../variables.scss';

.btn {
  padding: 1rem 1.5rem;
  background-color: var(--colour-sosy-green-500);
  border: none;
  color: var(--colour-neutral-000);
  border-radius: 8rem;
  min-width: 8rem;
  font-size: 0.875rem;
  transition: all $transition-speed-fast $easing-bounce;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
    transform: translateY(-0.1rem);
  }

  &:active {
    transform: scale(0.99);
  }

  &.secondary {
    background-color: var(--colour-neutral-1000);
  }
}
