.eventsCalendar {
    padding-top: 80px;
    border: 1px solid #191A1A;
}


.rbc-day-bg {
    background: #191A1A;
}

.rbc-day-bg.rbc-today {
    background: #191A1A
    ;
}

.rbc-day-bg.rbc-off-range-bg {
    background: transparent;
}
