@use "../variables.scss" as *;

.hero.container {
  position: relative;
  max-width: unset;
  text-align: center;
  padding-top: 10rem;
  overflow: hidden;
  padding-bottom: 6rem;

  h1,
  p {
    color: var(--colour-hero-text);
  }

  p {
    font-weight: 500;
  }
}
