@import "../variables.scss";

.hero.container {
  position: relative;
  max-width: unset;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10rem;
  overflow: hidden;
  padding-bottom: 6rem;

  h1,
  p {
    color: var(--colour-neutral-000);
  }

  p {
    font-weight: 500;
  }
}
