@import "../variables.scss";

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 2;
  margin: 1em auto;
  gap: 0.5em;
  width: 100%;

  .description-img {
    width: 18em;
    height: 24em;
    border-radius: 1em;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.3s ease-in-out; /* Add a transition for smooth movement */
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 18em;
    margin-left: 0.5em;
    gap: 1.5em;
    position: relative;

    .description-title {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .profile-role {
        color: var(--colour-sosy-green-500);
      }

      .profile-name {
        font-size: 1.75em;
        font-weight: bold;
      }

      .profile-pronoun {
        color: var(--colour-neutral-600);
      }
    }

    .description-socials {
      display: flex;
      flex-direction: column;
      gap: 0.75em;

      .description-logo {
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-weight: 450;

        .description-social-link {
          color: var(--colour-neutral-000);
          text-decoration: none;
        }

        .description-social-link:hover {
          color: var(--colour-sosy-green-500);
        }
      }
    }
  }

  .description-secondary {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .profile-card:hover {
    & .description-img {
      opacity: 0.3;
    }

    & .description-secondary {
      display: flex;
      position: absolute;
      width: 16.5em;
      gap: 1em;
      transform: translateY(-2em);
      transition: transform 0.3s ease-in-out;
      z-index: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .profile-card {
    align-items: flex-start;
    gap: 1.5em;

    .description-secondary {
      display: flex;
      width: 100%;
    }
  }
}
