// Smooth substitute timing function that can
// be used in place instead of something like
// ease, or ease-in, etc.
$fade-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(3rem);
  }
}
