@use "./colors" as *;
@use "./typography" as *;
@use "./spacers" as *;
@use "./animations" as *;
@use "./media-queries" as *;

button {
  font-family: $font-stack;
  font-weight: $fw-bold;
  font-size: clamp(#{$fs-body-small}, 1.05vw, #{$fs-body-regular});
}

a.btn {
  text-decoration: none;
}

.btn {
  padding: 1rem 1.5rem;
  background-color: $grey-1000;
  border: none;
  color: $white;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    transform: translateY(0.25rem);
  }

  &.btn-disabled {
    cursor: not-allowed;
    background-color: $grey-600;
  }
}

.btn-text {
  text-align: left;
  background: none;
  border: none;
  display: flex;
  white-space: nowrap;
  align-items: center;

  &::after {
    content: '';
    display: inline-block;
    margin-left: $spc-xsmall * 0.5;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    transition: margin-left 0.3s $fade-cubic-bezier;
    background-image: url('/assets/icons/arrow-right.svg');
    background-size: contain;
  }

  &:hover::after {
    margin-left: $spc-xsmall;
  }
}

.square-btn-container {
  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: $spc-large;
  }
}

a.square-btn {
  background-color: $grey-50;
  cursor: pointer;
  transition: background-color 0.3s $fade-cubic-bezier;
  overflow: hidden;
  position: relative;
  color: $text-color;
  text-decoration: none;
  width: 100%;

  &::before {
    content: '';
    display: block;
    background-image: url('/assets/images/square-btn-background.svg');
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s $fade-cubic-bezier;
  }

  .content {
    padding: clamp(1.5rem, 5vmin, 2.5rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    @media screen and (min-width: $tablet-min-width) {
      aspect-ratio: 1/1;
    }

    h2 {
      margin-bottom: $spc-xsmall;
    }
  }

  @media screen and (min-width: $tablet-min-width) {
    max-width: 24rem;
  }

  &:hover {
    background-color: $sosy-green;
    color: $white;

    &::before {
      opacity: 1;
    }

    .btn-text {
      color: $white;

      &::after {
        margin-left: $spc-xsmall;
        filter: invert(1);
      }
    }
  }
}

.big-text-btns-container {
  .big-text-btn + .big-text-btn {
    border-top: 0.075rem solid $grey-100;
  }

  .big-text-btn {
    a {
      font-size: clamp(#{$fs-heading-3 * 0.75}, 1vmin, #{$fs-heading-3});
      text-decoration: none;
      word-wrap: break-word;
      white-space: unset;
      max-width: unset;
      color: $text-color;

      &::after {
        width: 7em;
        height: 1em;
      }
    }
  }
}
