// SSSS Brand Colours
$sosy-green: #24a98b;
$sosy-green-800: #50baa2;
$sosy-green-600: #7ccbb9;
$sosy-green-400: #a7ddd1;
$sosy-green-200: #d3eee8;

$cyber: #ffdf00;

// Greys
// The numbers indicate the level of lightness
// 1000 means the base colour
$grey-1000: #0b161d;
$grey-800: #3c4449;
$grey-600: #6e7477;
$grey-400: #9da1a4;
$grey-200: #cfd1d3;
$grey-100: #e8e9e9;
$grey-50: #f2f2f3;
$white: #ffffff;

// Typography
$text-color: $grey-1000;

// Other
$blurple: #5865f2;
