@use './spacers' as *;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
$font-stack: 'DM Sans', sans-serif;

// Font Sizes
$fs-title: 3.052rem;
$fs-heading-1: 2.441rem;
$fs-heading-2: 1.953rem;
$fs-heading-3: 1.563rem;
$fs-body-large: 1.25rem;
$fs-body-regular: 1rem;
$fs-body-small: 0.8rem;

// Font Weights
$fw-bold: 700;
$fw-regular: 400;

// Headings
.h1,
.h2,
.h3 {
  font-weight: $fw-bold;
}

.h1 {
  font-size: clamp(#{$fs-heading-2}, 2vw, #{$fs-heading-1});
  margin-top: $spc-large;
  margin-bottom: $spc-large * 0.75;
  max-width: 20em;
}

.h2 {
  font-size: clamp(#{$fs-heading-3}, 1.5vw, #{$fs-heading-2});
  margin-top: $spc-medium * 0.75;
  margin-bottom: $spc-small;
}

.h3 {
  font-size: clamp(#{$fs-heading-3 * 0.8}, 1.25vw, #{$fs-heading-3});
  margin-top: $spc-small * 0.75;
  margin-bottom: $spc-small;
}

.h2,
.h3 {
  max-width: 24em;
}

// Body Text
.b-large,
.b-regular,
.b-small {
  max-width: 64em;
  line-height: 150%;
}

.b-large {
  font-size: clamp(#{$fs-body-regular}, 1.05vw, #{$fs-body-large});
  margin-bottom: $spc-medium;
}

.b-regular {
  font-size: clamp(#{$fs-body-small}, 1.05vw, #{$fs-body-regular});
  margin-bottom: $spc-small;
}

.b-small {
  font-size: clamp(#{$fs-body-small}, 1.05vw, #{$fs-body-regular});
  margin-bottom: $spc-small;
}

// Lists
.ul {
  padding-left: clamp(#{$spc-small}, 1vw, #{$spc-medium});
}
