// Does not include the Navigation or Footer 
.body {
    img {
        width: 75%;
    }

    .row {
        padding: 50px;
    }
    
    .image-row {
        padding: 50px 0;
        text-align: center; 
    }

    .greyscaled {
        filter: grayscale(100%);
        &:hover{ filter: grayscale(0%); }
    }
    
    .inverted {
        
        font-weight: bold;
        /* color: white; */
        /* background-color: black; */
    }
} 
