// .footer {
//     text-align: center;
//     a {
//         color: grey;
//         border-bottom: 2px solid grey;
//         text-transform: uppercase;
//         &:hover { 
//             color: black;
//             border-bottom: 5px solid black;
//         } 
//     }
// }

.footer {
    border-top: 1px solid black;
    padding-top: 50px;

    ul {
        padding-left: 0;
        list-style: none;
    }

    .footer-image {
        width: 50px;
        padding: 0;
        filter: grayscale(0);
    }
}