.footer {
    border-top: 1px solid black;
    padding: 50px 0;

    .footer-image {
        width: 50px;
        padding: 0;
    }

    ul {
        padding-left: 0;
        list-style: none;
    }

}
