// This is the main.scss that compiles into main.css. 
// Compile with the following command: sass main.scss main.css

// Sections
@use "navbar";
@use "body";
@use "footer";


// Global Variables 
@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Montserrat&display=swap');
$text-font: 'Montserrat', sans-serif;

$green: #009640; 
$yellow: #FFED00;
$grey: #343a40;


// Global Styles
*{ 
    transition: 0.5s all; 
    font-family: $text-font;  
}

// This body refers to the entire page
body { 
    &::-webkit-scrollbar { background-color: white; }
    &::-webkit-scrollbar-thumb { background-color: $grey; }

    a { 
        color: grey;
        &:hover{
            color: black;
            text-decoration: none;
        }
    }
}
