.menu { 
    background-color: white;
    padding-bottom: 10px !important;

    .menu-header {
        padding: 25px;
    }

    .menu-nav {
        padding: 0;
        a {
            padding: 8px;
            border-bottom: 2px solid transparent;
            &:hover { 
                border-color: black;
            }
        }
    }
}
