@font-face {
  font-family: 'DM Sans';
  src: url('../public/fonts/DMSans-Bold.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../public/fonts/DMSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../public/fonts/DMSans-Bold.ttf');
  font-weight: 700;
}

a {
  color: var(--colour-sosy-green-500);
  
  &:hover {
    opacity: 0.75;
  }
}
