name: CI

on:
  pull_request:
  push:
    branches:
      - "develop"

permissions:
  contents: read

jobs:
  format:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16.13.x
          cache: npm

      - name: Install
        run: npm install

      - name: Prettier
        run: npm run format:check
